.header {
  height: 100vh;
  text-align: center;
  /* background-color: aqua; */
  animation: fadeInAnimation 3.5s 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headH1 {
  font-size: clamp(1.9rem, 1rem + 3vw, 5rem);
  padding: 2em 0.5em 1em 0.5em;
}
.headH1::after {
  content: ':)';
  font-size: clamp(1rem, 1rem + 3vw, 2rem);
  font-weight: 500;
  bottom: 50px;
  left: 10px;
  /* display: inline-block; */
  position: relative;
}
.headP {
  font-size: 1.2rem;
}
.pBottom {
  margin-top: 5em;
}

@media (max-width: 670px) {
  .headP {
    margin: 0 2rem;
  }
  .heroImg {
    width: 70%;
  }
}
