/* * {
  border: 2px solid red !important;
} */
body {
  color: var(--black);
}
/* ~~~~~~~~ Header code ~~~~~~~~ */
header {
  display: flex;
  justify-content: space-between;
  /* margin: 0 5em 5em 5em; */
  background-color: rgba(162, 154, 154, 0.4);
  padding: 1em 5em 2em 5em;
  height: 10vh;
  width: 100%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav > ul > li {
  margin: 0 1.2em;
  font-size: 1rem;
}

.name::after {
  content: 'gm';
  font-size: 0.7rem;
  font-weight: 500;
  bottom: 20px;
  display: inline-block;
  animation: animategm 3s linear infinite;
  position: relative;
}

/* #gm {
  font-size: 0.7rem;
  font-weight: 500;

  bottom: 20px;
  animation: animategm 4s infinite alternate-reverse;
  position: relative;
} */

@keyframes animategm {
  from {
    transform: rotate(0deg);
    font-size: 15px;
    color: #e3183d;
  }
  to {
    transform: rotate(360deg);
    font-size: 15px;
    color: #e3183d;
  }
}

.date {
  margin-top: 0.7em;
}

/* ~~~~~~~~ Main Body code ~~~~~~~~ */

main {
  margin: 1em 5em;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

.content {
  justify-content: space-evenly;
  background-color: rgba(162, 154, 154, 0.4);
  border-radius: 3px;
  padding: 2em 0;
  border: 1px solid #e7e7e7;
}
.listContainer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.flex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 75%;
}
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.listItem {
  background-color: #fb486b;
  padding: 0.8em 1em;
  margin: 0.5em 1em 0.5em 3em;
  border: 2px solid #e7e7e7;
  border-radius: inherit;
  width: 62%;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskContainer {
  margin-right: 2em;
  /* width: 10%; */
}
.taskContent {
  margin: 0.5em 0;
  /* margin-right: 4em; */
  /* width: 50%; */
  font-weight: 400;
}
.taskTitle {
  font-weight: 500;
  font-size: 1.25em;
}
.taskIndex {
  margin-right: 1.2em;
}
.taskCreatedOn {
  font-size: 1.05rem;
  margin: 0.15em 0.1em;
}
.taskTime {
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  background-color: rgba(92, 188, 248, 0.6);
  margin: 1em 1em;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.taskCompleteBy {
  font-weight: 500;
  color: #f34366;
}
button {
  padding: 0.5em 1em;
  font-size: 1.1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.02) 0px 2px 4px -1px;
}
.button {
  background-color: var(--green);
  padding: 0.5em 2em;
  font-size: 1.2rem;
  border-style: none;
  border-radius: 12px;
  color: var(--black);
  margin: 0 0.2em;
  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(43, 184, 64);
}

.buttons > button {
  font-size: 1em;
}
/* ADD BUTTON */
.plusBtn {
  padding: 0.3em 0.7em;
  font-size: 2rem;
  position: fixed;
  top: 3em;
  right: 2em;
  z-index: 1;
  transition: top 0.2s linear;
  margin: 1em 0;
}
.scrolled {
  top: 1em;
  margin: 0.5em 0;
}
.addBtn {
  padding: 0.4em 1.6em;
}
.exitBtn {
  padding: 0.4em 1.2em;
  background-color: #fb486b;
}
.exitBtn:hover {
  background-color: rgb(203, 61, 89);
}
/* DELETE BUTTON */
.deleteBtn {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.05rem;
  padding: 0.6em 0.5em;
  transition: 120ms;
  margin: 0.1em 0.2em;
}
.deleteBtn:hover {
  background-color: rgb(203, 61, 89);
  color: white;
}

/* FORM CSS */
.formContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  /* max-height: 98vh; */
}
.addForm {
  background-color: rgb(112, 222, 163);
  padding: 1em 2em;
  text-align: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  max-height: 98vh;
}
.toDoContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0.5em 0;
}
.toDoHeading {
  text-align: left;
}
.toDoLabel {
  font-size: 1.5rem;
}
.addTaskInput {
  padding: 0.5em 0.5em;
  font-size: 1.1rem;
  border: none;
  width: 90%;
  border-radius: inherit;
  align-self: center;
}
.addTaskTitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.7em 0 0.3em 5%;
  text-align: left;
}
.colorTitle {
  margin: 0.5em 0 0 0;
}
.centerItem {
  display: flex;
  justify-content: center;
}

.currentBtn {
  text-decoration: underline;
  border-radius: 12px 12px 0 0;
  background-color: #fb486b;
  box-shadow: none;
}

.currentBtn:hover {
  background-color: #e3183d;
}

.calendar {
  transform: scale(100%);
}
