.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  backdrop-filter: blur(3px);
  z-index: 2;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}
.modal.exit {
  opacity: 0;
}
@media (max-width: 670px) {
  .react-calendar__navigation {
    margin-bottom: 0 !important;
  }
}
