@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../src/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../src/fonts/Satoshi-Variable.woff') format('woff'),
    url('../src/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --green: rgb(49, 212, 73);
  --black: rgb(25, 25, 25);
}
/* everything */
* {
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';
  margin: 0;
  padding: 0;
  /* border: 2px solid black; */
}
